@import url(../fonts/css/font.css);

:root {
    /* Fonts */
    --poppins: Poppins;
    --poppins-black: Poppins-Black;
    --poppins-black-italic: Poppins-BlackItalic;
    --poppins-bold: Poppins-Bold;
    --poppins-bold-italic: Poppins-BoldItalic;
    --poppins-extra-bold: Poppins-ExtraBold;
    --poppins-extra-bold-italic: Poppins-ExtraBoldItalic;
    --poppins-extra-light: Poppins-ExtraLight;
    --poppins-extra-light-italic: Poppins-ExtraLightItalic;
    --poppins-light-: Poppins-Light;
    --poppins-light-italic: Poppins-LightItalic;
    --poppins-medium: Poppins-Medium;
    --poppins-medium-italic: Poppins-MediumItalic;
    --poppins-semi-bold: Poppins-SemiBold;
    --poppins-semi-bold-italic: Poppins-SemiBoldItalic;
    --poppins-thin: Poppins-Thin;
    --poppins-thin-italic: Poppins-ThinItalic;
    --poppins-quintessential: Quintessential;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--poppins-medium);
    letter-spacing: 1.2px;
    scroll-behavior: smooth;
}
